<div id="comments-containet"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    owner: 'annnhan',
    repo: window.githubRepository || 'gitment',
    oauth: {
      client_id: '0a05c848f85cc4fdc815',
      client_secret: '6bfdb7c41012f8b3d28935e7e08b8e6c1504a325',
    },
  })
  gitment.render('comments-containet')
</script>