<!-- 多说评论框 start -->
<div id="js-duoshuo-box"
     class="ds-thread"
     data-thread-key="<%= (page.duoshuo_key || page.wordpress_id || page.slug) %>"
     data-title="<%= page.title %>"
     data-url="http://annn.me/<%= page.slug %>">
</div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"hanan"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->